* {
  margin: 0;
  padding: 0;
}

div {
  border: 5px solid #1098ad;
  margin-left: 50px;
  margin-top: 50px;
  width: 200px;
  font-family: sans-serif;
}

#webtext {
  font-size: 25px;
  margin: 5px;
}

#gotobutton {
  font-size: 20px;
  text-transform: none;
  cursor: pointer;
  padding: 2.5px;
  width: 75%;
  margin: 5px;
}

#website {
  margin: 5px;
  padding: 1px 2.5px;
  cursor: text;
  height: 20px;
  font-size: 14px;
}
